<ion-tabs>
  <!-- La barre qui contient les liens (tabs) -->
  <ion-tab-bar slot="bottom">
    <!-- Un lien dans le tabs -->
    <ion-tab-button tab="home">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-label>Settings</ion-label>
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="list">
      <ion-label>List</ion-label>
      <ion-icon name="list"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
