<ion-app>
  <!-- On pose le menu déroulant sur le côté -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <!-- Liste des liens du menu -->
      <ion-list>
        <ion-item routerLink="/about" (click)="closeMenu()">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>A propos</ion-label>
        </ion-item>
        <ion-item routerLink="/creator" (click)="closeMenu()">
          <ion-icon name="people" slot="start"></ion-icon>
          <ion-label>Les créateurs</ion-label>
        </ion-item>
        <ion-item routerLink="/meteo" (click)="closeMenu()">
          <ion-icon name="sunny" slot="start"></ion-icon>
          <ion-label>Meteo</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Ne pas oublier l'id pour associer le router
       au menu -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
