<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ma liste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-avatar slot="start">
        <img [src]="user.picture.medium" />
      </ion-avatar>
      <ion-label>
        <h2>{{ user.name.first }} {{ user.name.last }}</h2>
        <p>Né(e) le {{ user.dob.date | date:'dd/MM/y' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
