ion-card {
    margin-top: 80px;
    overflow: initial;
}

ion-avatar {
    width: 128px;
    height: 128px;
    margin: auto;
    position: relative;
    top: -64px;
}

ion-card-header {
    margin-top: -64px;
}
