<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Réglages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Ici, on aura un formulaire avec les infos suivantes 
       - Pseudo (ion-input)
       - Ville (ion-select) 1 seule parmi 3-4 villes
       - Toggle pour le darkmode (ion-toggle)
       - Petit button (ion-button)
  -->
  <form (ngSubmit)="save()">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Pseudo</ion-label>
        <ion-input [(ngModel)]="settings.username" name="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Ma ville</ion-label>
        <ion-select [(ngModel)]="settings.city" name="city" interface="action-sheet" placeholder="Choisir" cancelText="Fermer">
          <ion-select-option value="Hulluch">Hulluch</ion-select-option>
          <ion-select-option value="Lille">Lille</ion-select-option>
          <ion-select-option value="Paris">Paris</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Toggle Dark Mode</ion-label>
        <ion-toggle (ionChange)="toggleDarkMode()" [(ngModel)]="settings.darkMode" name="darkMode"></ion-toggle>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit">
        Enregistrer
      </ion-button>
    </div>
  </form>

  <!-- Ajouter un bouton permettant de vider le storage du téléphone -->
  <!-- Le bouton aura un événement click (sans type submit) -->
  <!-- Le click appellera une méthode delete qui utilise le service storage -->
  <!-- Il faudra aussi modifier le settings pour vider les champs -->
  <div class="ion-padding">
    <ion-button color="danger" expand="block" (click)="removeData()">
      Supprimer mes données
    </ion-button>
  </div>

</ion-content>
